<h1> Your score : </h1>

<p> Your word has <%= @word_count %> letters. </p>
<p> You start at <%= @start_time %> time. </p>
<p> You took <%= @result %> seconds. </p>



<p id="link"> <%= link_to "Back to the game.", game_path %> </p>
